BasedOnStyle: Google
ColumnLimit: 110
IndentWidth: 2
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
